<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Projeto Christian</title>
  </head>
  <body>
    <header>
      <div class="navbar">
      <div class="logo"><a href="/index.html" style="color:orangered">BarberShop<ion-icon name="cut-outline"
            style="color:rgb(64, 75, 121)"></ion-icon></a></div>
      <ul class="links">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/view/sobre.html">Sobre</a></li>
        <li><a href="/view/services.html">Serviços</a></li>
        <li><a href="/view/contact.html">Contato</a></li>
      </ul>

      <a href="/view/login.html" class="btn-popup">Login</a>
      <div class="toggle_btn"><i class="fa fa-bars"></i></div>
    </div>
    

      <div class="dropdown_menu">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/view/sobre.html">Sobre</a></li>
        <li><a href="/view/services.html">Serviços</a></li>
        <li><a href="/view/contact.html">Contato</a></li>
        <li><a href="#" class="action_btn">Iniciar</a></li>
      </div>
    </header>

    <div class="container">
      <div id="card-1"class="card">
        <div class="content">
          <!-- <h2>01</h2> -->
          <h3 style="color:orangered"> ESTILO 1 </h3>
          <!-- <img src="/img/1.jpg" style="width: 200px; height: 200px;"> -->
          <p style="color:orangered"> <strong> DEGRADÊ </strong> </p>
          <a href="#"> <strong>Mais Informações</strong> </a>
        </div>
      </div>

      <div id="card-2" class="card">
        <div class="content">
          <!-- <h2>02</h2> -->
          <h3 style="color:orangered"> ESTILO 2 </h3>
          <!-- <img src="/img/2.jpg" style="width: 200px; height: 200px;"> -->
          <p style="color:orangered"> <strong> BIGODE CLÁSSICO </strong> </p>
          <a href="#"> <strong> Mais Informações </strong> </a>
        </div>
      </div>

      <div id="card-3"class="card">
        <div class="content">
          <!-- <h2>03</h2> -->
          <h3 style="color:orangered"> ESTILO 3 </h3>
          <!-- <img src="/img/3.jpg" style="width: 200px; height: 200px;"> -->
          <p style="color:orangered"> <strong> VAN DYKE </strong> </p>
          <a href="#"> <strong> Mais Informações </strong> </a>
        </div>
      </div>

    </div>
   
    <script src="/js/script.js"></script>
    <script src="/js/vanilla-tilt.js"></script>
    <script>
      VanillaTilt.init(document.querySelectorAll(".card"),{
        max:25,
        speed:400,
        glare:true,
        "max glare": 1
      });
    </script>

        <script src="/js/script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function (){
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')
            toggleBtnIcon.classList = isOpen
        ? 'fa fa-times'
        : 'fa fa-bars' 
        }
    </script>

  </body>
</html>
